<mat-card class="conteiner-card">
  <mat-card-header class="macbookpro_title">
    MacBook Pro
  </mat-card-header>
  <mat-card-content class="notebook_title">
    ноутбуки
  </mat-card-content>
  <img mat-card-image src="https://content.rozetka.com.ua/goods/images/big/215770075.jpg" class="picture_box">
  <mat-card-footer class="bottom_title">
    Найкращий ноутбук для Ігорів і не тільки. 16 ядер Neural Link і 24 ядра допоможуть підняти вашу продуктивність прямо до підлоги!
  </mat-card-footer>
  <mat-card-actions class="button">
    <button mat-flat-button>Купити</button>
  </mat-card-actions>
</mat-card>
